.holder{
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.diseñ{
    display: flex;
    justify-content: space-between;
}

.diseño{
    border: 2px rgb(0, 0,0,.5) solid;
    border-radius: 10%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.5 ease;
    cursor: pointer;
    margin: 10px
}

.diseño img{
    height: 220px;
    width: 220px;
    border-radius: 10%;
}
.diseño h5{
 color: red;
}
.diseño h4{
    text-transform: uppercase;
}
.diseño:hover{
 box-shadow: 0 0.1rem 0.4rem rgb(0,0,0,0.3);
}

.bot{
    margin-top: 25px;
    margin-bottom: 45px;
    display: flex;
     height: 370px;
}
.dre{
    border: 2px rgb(0, 0,0,.5) solid;
    border-radius: 10%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    margin-left: 80px;
    margin-right: 100px;
    transition: all 0.5 ease;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}
.dre img{
    height: 220px;
    width: 220px;
    border-radius: 10%;
}
.dre h5{
    color: red;
}
.dre h4{
    text-transform: uppercase;
}
.dre:hover{
    box-shadow: 0 0.1rem 0.4rem rgb(0,0,0,0.3);
}
