.contenedor{
    background-color: #FFEAF3;
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-family:  'Alfa Slab One', cursive;
}
.messi {
width: 100%;
color: transparent;
text-align: center;
text-transform: uppercase;
font-size: 150px;
font-weight: bold;

background-image: url(/public/img/4k.jpg);
background-size: cover;
background-position-y: center;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
