<div class="container" style="margin:50px auto ">
    <div class="row">
        <div class="rol">
            <p class="text-right">hola {{persona}}! <a href="/admin/login/logout" class="btn btn-sm btn-danger">
           cerrar sesion <i class="fa fa-sing-out"></i>
            </a></p>
        </div>

    </div>
</div>