/* font-family: 'Lora', serif; */
body {
    font-family: 'Lora', serif;
    font-size: 20px;
}

header {
    padding: 10px 0;
    background: #00ffaa;
    background: linear-gradient(43deg, #00ffaa 0%, #00caff 80%);
    background: -webkit-linear-gradient(43deg, #00ffaa 0%, #00caff 80%);
    background: -moz-linear-gradient(43deg, #00ffaa 0%, #00caff 80%);
}

header img {
    border-radius: 50%;
    height: 100px;
    width: 150px;
    position: relative;
    left: 40px;
    top: 10px;
    transition: all 0.5s ease;
    cursor: pointer;
}
header img:hover{
    box-shadow: 0px 0px 25px 6px rgba(0,0,0,0.83);
-webkit-box-shadow: 0px 0px 25px 6px rgba(0,0,0,0.83);
-moz-box-shadow: 0px 0px 25px 6px rgba(0,0,0,0.83);
}
header h1 {
    color: black;
    display: inline-block;
    position: relative;
    left: 800px;
    bottom: 20px;
}
nav{
    background: #00ffaa;
    background: linear-gradient(43deg, #00ffaa 0%, #00caff 80%);
    background: -webkit-linear-gradient(43deg, #00ffaa 0%, #00caff 80%);
    background: -moz-linear-gradient(43deg, #00ffaa 0%, #00caff 80%);
    margin-bottom: 20px;
}
 nav ul{
     list-style: none;
     margin: 0%;
     padding: 0%;
     display: flex;
 }
 nav ul li{
     flex-grow: 2;
 }
 nav ul li a{
     color: black;
     text-decoration: none;
     display: block;
     padding: 3px 6px;
     text-align: center;
     border: 7px outset white;
 }
 nav ul li a:hover{
     background-color: rgba(0,0,0,0.25);
 }
 footer{
    background: #00ffaa;
    background: linear-gradient(43deg, #00ffaa 0%, #00caff 80%);
    background: -webkit-linear-gradient(43deg, #00ffaa 0%, #00caff 80%);
    background: -moz-linear-gradient(43deg, #00ffaa 0%, #00caff 80%);
    margin-top: 20px;
    padding: 25px;
 }
section{
    float: right;
}
footer p{
    margin: 0;
}
footer a{
    text-decoration: none;
    color: black;
    transition: all 1s ease;
    padding-right: 15px;
}
footer a:hover{
    color: violet;
}
ul li a.activo{
    background: RGBA(0,191,102,0.83);
}