button{
    height: 300px;
    width: 300px;
    border: 5px solid black;
    
    margin: 50px;
}
.amarillo{
    background-color: yellow;
    color: black;
}
.rojo{
    background-color: red;
    color: white;
}
.azul{
    background-color: blue;
    color: white;
}