body{
    padding: 0;
    margin: 0;
}
.contenedor{
    width: 100%;
    background: #8fa68e;

}
nav{
    background: rgb(202, 144, 37);
    width: 100%;
    border-bottom: 2px double black;
}
nav ul{
    margin: 0;
}
nav ul li a{
    display: block;
    color: aqua;
    padding: 10px;
}
.cuadro{
    width: 100%;
    margin-left: 0;
    border-bottom: 2px double black;
    padding: 5px;;
}
aside{
    width: 100%;
    margin-left: 0;
}