body{
    color: black;
    background: #5f5649;
    font-size: 100%;
}
.contenedor{
    overflow: hidden;
    width: 800px;
    background: #8fa68e;
    margin:0 auto;
}
nav{
    background: rgb(202, 144, 37);
    float: left;
    width: 160px;
}
nav ul {
list-style-type: none;
}
nav ul li a{
    color: cadetblue;
   
}
.cuadro{
    background: #f1f2c0;
    margin-left: 25px;
    width: 400px;
    float: left;
}
aside{
    float: right;
    background: #ccc59e;
    width: 190px;
}
